.pos-receipt .pos-receipt-contact {
    text-align: center !important;
    font-size: 114% !important;
}
.pos-receipt .pos-receipt-order-data {
    text-align: center !important;
    font-size: 97% !important;
}
.pos-receipt .pos-receipt-amount {
    font-size: 75% !important;
    text-align: start !important;
}
